/**
 * Functions styles
 */

@mixin center-content($width: 100%) {
  width: $width;
  margin: $margin-center;
}

@mixin grid($display: grid, $grid-template-columns: 1fr 1fr, $row-gap: 10px, $column-gap: 10px) {
  display: $display;
  grid-template-columns: $grid-template-columns;
  row-gap: $row-gap;
  column-gap: $column-gap;
}

@mixin color($color: $light-color, $background-color: $dark-light-color) {
  color: $color;
  background-color: $background-color;
}

@mixin background-gradient($color1: $dark-light-color, $color2: $shadow-color) { background-image: linear-gradient(to bottom right,$color1,$color2); }

@mixin shadow() { box-shadow: 3px 7px 15px $shadow-color; }
