/**
 * Inheritance styles
 */

/* Estilo heredado que crea una figura poligonal */

%clip-path-polygon {
  clip-path: polygon(0% 5%,
                     10% 10%,
                     20% 5%,
                     30% 10%,
                     38% 5%,
                     46% 10%,
                     50% 0%,
                     54% 10%,
                     62% 5%,
                     70% 10%,
                     80% 5%,
                     90% 10%,
                     100% 5%,
                     98% 15%,
                     100% 20%,
                     98% 25%,
                     100% 30%,
                     98% 35%,
                     100% 40%,
                     98% 45%,
                     100% 50%,
                     98% 55%,
                     100% 60%,
                     98% 65%,
                     100% 70%,
                     98% 75%,
                     100% 80%,
                     98% 85%,
                     100% 95%,
                     90% 90%,
                     80% 95%,
                     70% 90%,
                     62% 95%,
                     54% 90%,
                     50% 100%,
                     46% 90%,
                     38% 95%,
                     30% 90%,
                     20% 95%,
                     10% 90%,
                     0% 95%,
                     2% 85%,
                     0% 80%,
                     2% 75%,
                     0% 70%,
                     2% 65%,
                     0% 60%,
                     2% 55%,
                     0% 50%,
                     2% 45%,
                     0% 40%,
                     2% 35%,
                     0% 30%,
                     2% 25%,
                     0% 20%,
                     2% 15%);
}

/* Estilo heredado que crea una figura poligonal con menos profundidad */

%clip-path-polygon-sm {
  clip-path: polygon(0% 5%,
                     10% 7%,
                     20% 5%,
                     30% 10%,
                     40% 5%,
                     50% 10%,
                     60% 5%,
                     70% 10%,
                     80% 5%,
                     90% 10%,
                     100% 5%,
                     98% 15%,
                     100% 20%,
                     98% 25%,
                     100% 30%,
                     98% 35%,
                     100% 40%,
                     98% 45%,
                     100% 50%,
                     98% 55%,
                     100% 60%,
                     98% 65%,
                     100% 70%,
                     98% 75%,
                     100% 80%,
                     98% 85%,
                     100% 95%,
                     90% 90%,
                     80% 95%,
                     70% 90%,
                     60% 95%,
                     50% 90%,
                     40% 95%,
                     30% 90%,
                     20% 95%,
                     10% 90%,
                     0% 95%,
                     2% 85%,
                     0% 80%,
                     2% 75%,
                     0% 70%,
                     2% 65%,
                     0% 60%,
                     2% 55%,
                     0% 50%,
                     2% 45%,
                     0% 40%,
                     2% 35%,
                     0% 30%,
                     2% 25%,
                     0% 20%,
                     2% 15%);
}

/* Estilo heredado que crea una elipse */

%clip-path-inset {
  clip-path: inset(50px 20px 50px 20px round 20px);;
}