<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <title>PEC 2 Herramientas HTML y CSS UOC</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.scss">
    <script type="module" src="../assets/js/app.js"></script>
  </head>
  
  <body>
    <header>
        <div>
            <a href="../index.html">
                <img class="img-header" src="../assets/img/common/logo-header.svg" alt="Logo">
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="../index.html">Portada</a>
                </li>
                <li>
                    <a href="./category.html">Categorías</a>
                </li>
                <li>
                    <a href="./presentation.html">Presentación</a>
                </li>
                <li>
                  <a class="active" href="./link.html">Enlaces</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>
                <i class="fas fa-link icon" aria-hidden="true"></i>
                <span>Enlaces y referencias</span>
            </h1>

            <article class="links">
                <h2>
                    <i class="fa-solid fa-list icon" aria-hidden="true"></i>
                    <span>Lista de referencias de la historia de los Vikingos</span>
                </h2>

                <ul class="link-list">
                    <li class="link-item">
                        <i class="fas fa-ship icon" aria-hidden="true"></i>
                        <a href="https://es.wikipedia.org/wiki/Vikingo" target="_blank">Vikingos - <span class="italic">Wikipedia</span></a>
                    </li>
                    <li class="link-item">
                        <i class="fas fa-ship icon" aria-hidden="true"></i>
                        <a href="https://www.visitoslo.com/es/articulos/vikingos/" target="_blank">Vikingos - <span class="italic">¿Quiénes eran?</span></a>
                    </li>
                </ul>
            </article>

            <article class="links">
                <h2>
                    <i class="fa-solid fa-list icon" aria-hidden="true"></i>
                    <span>Lista de referencias de Ragnar Lohbrok</span>
                </h2>

                <ul class="link-list">
                    <li class="link-item">
                        <i class="fas fa-ship icon" aria-hidden="true"></i>
                        <a href="https://es.wikipedia.org/wiki/Ragnar_Lodbrok" target="_blank">Ragnar Lohbrok - <span class="italic">Wikipedia</span></a>
                    </li>
                    <li class="link-item">
                        <i class="fas fa-ship icon" aria-hidden="true"></i>
                        <a href="https://vikings.fandom.com/es/wiki/Ragnar_Lothbrok" target="_blank">Ragnar Lohbrok - <span class="italic">Vikings Wiki</span></a>
                    </li>
                    <li class="link-item">
                        <i class="fas fa-ship icon" aria-hidden="true"></i>
                        <a href="https://www.guioteca.com/mitos-y-enigmas/ragnar-lothbrock-esta-es-la-verdadera-historia-del-temible-lider-escandinavo-de-la-serie-vikingos/" target="_blank">Ragnar - <span class="italic">La verdadera historia</span></a>
                    </li>
                </ul>
            </article>

            <article class="links">
                <h2>
                    <i class="fa-solid fa-list icon" aria-hidden="true"></i>
                    <span>Lista de referencias de descendencia de Ragnar Lohbrok</span>
                </h2>

                <ul class="link-list">
                    <li class="link-item">
                        <i class="fas fa-ship icon" aria-hidden="true"></i>
                        <a href="https://vikings.fandom.com/es/wiki/Rollo" target="_blank">Rollo - <span class="italic">Vikings Wiki</span></a>
                    </li>
                    <li class="link-item">
                        <i class="fas fa-ship icon" aria-hidden="true"></i>
                        <a href="https://vikings.fandom.com/es/wiki/Ivar" target="_blank">Ivar Ragnarsson - <span class="italic">Vikings Wiki</span></a>
                    </li>
                    <li class="link-item">
                        <i class="fas fa-ship icon" aria-hidden="true"></i>
                        <a href="https://vikings.fandom.com/es/wiki/Bj%C3%B6rn" target="_blank">Björn Ragnarsson - <span class="italic">Vikings Wiki</span></a>
                    </li>
                    <li class="link-item">
                        <i class="fas fa-ship icon" aria-hidden="true"></i>
                        <a href="https://vikings.fandom.com/es/wiki/Ubbe" target="_blank">Ubbe Ragnarsson - <span class="italic">Vikings Wiki</span></a>
                    </li>
                    <li class="link-item">
                        <i class="fas fa-ship icon" aria-hidden="true"></i>
                        <a href="https://vikings.fandom.com/es/wiki/Sigurd" target="_blank">Sigurd Ragnarsson - <span class="italic">Vikings Wiki</span></a>
                    </li>
                    <li class="link-item">
                        <i class="fas fa-ship icon" aria-hidden="true"></i>
                        <a href="https://vikings.fandom.com/es/wiki/Hvitserk" target="_blank">Hvitserk - <span class="italic">Vikings Wiki</span></a>
                    </li>
                </ul>
            </article>

            <article class="links">
                <h2>
                    <i class="fa-solid fa-list icon" aria-hidden="true"></i>
                    <span>Lista de referencias de batallas y conquistas</span>
                </h2>

                <ul class="link-list">
                    <li class="link-item">
                        <i class="fas fa-ship icon" aria-hidden="true"></i>
                        <a href="https://vikings.fandom.com/es/wiki/Wessex" target="_blank">Wessex - <span class="italic">Vikings Wiki</span></a>
                    </li>
                    <li class="link-item">
                        <i class="fas fa-ship icon" aria-hidden="true"></i>
                        <a href="https://vikings.fandom.com/es/wiki/Batalla_de_York" target="_blank">York - <span class="italic">Vikings Wiki</span></a>
                    </li>
                    <li class="link-item">
                        <i class="fas fa-ship icon" aria-hidden="true"></i>
                        <a href="https://vikings.fandom.com/es/wiki/Paris" target="_blank">Paris - <span class="italic">Vikings Wiki</span></a>
                    </li>
                    <li class="link-item">
                        <i class="fas fa-ship icon" aria-hidden="true"></i>
                        <a href="https://vikings.fandom.com/wiki/Mediterranean_Raid" target="_blank">Mediterráneo - <span class="italic">Vikings Wiki</span></a>
                    </li>
                </ul>
            </article>
        </section>
    </main>
    
    <footer>
        <div class="nav-main">
            <div class="logo">
                <a href="../index.html">
                    <img class="img-footer" src="../assets/img/common/logo-footer.svg" alt="Logo">
                </a>
            </div>
            
            <nav class="nav-pages">
                <ul class="pages">
                    <li>
                        <a href="../index.html">Portada</a>
                    </li>
                    <li>
                        <a href="./category.html">Categorías</a>
                    </li>
                    <li>
                        <a href="./presentation.html">Presentación</a>
                    </li>
                    <li>
                      <a class="active" href="./link.html">Enlaces</a>
                    </li>
                </ul>
            </nav>
        </div>

        <nav class="nav-policy">
            <ul class="policy">
                <li>
                    <i class="fa-solid fa-circle-info icon" aria-hidden="true"></i>
                    <a href="">Sobre nosotros</a>
                </li>
                <li>
                    <i class="fas fa-exclamation-triangle icon" aria-hidden="true"></i>
                    <a href="">Aviso legal</a>
                </li>
                <li>
                    <i class="fa fa-shield icon" aria-hidden="true"></i>
                    <a href="">Política de privacidad</a>
                </li>
                <li>
                    <i class="fa-solid fa-cookie icon" aria-hidden="true"></i>
                    <a href="">Política de cookies</a>
                </li>
            </ul>
            <ul class="social-media">
                <li>
                    <a href=""><img src="../assets/img/common/twitter.svg" alt="Twitter"></a>
                </li>
                <li>
                    <a href=""><img src="../assets/img/common/instagram.svg" alt="Instagram"></a>
                </li>
                <li>
                    <a href=""><img src="../assets/img/common/youtube.svg" alt="Youtube"></a>
                </li>
            </ul>
        </nav>

        <div class="copyright">
            <i class="fas fa-copyright icon" aria-hidden="true"></i> <span>Carlos Otero Franjo, Herramientas HTML y CSS, Universitat Oberta de Catalunya</span>
        </div>
    </footer>

    <script type="module" src="../assets/js/app.js"></script>
  </body>
</html>